<h1>Question: <%= @question.title %></h1>
<% if @edit %>
  <%= link_to 'Edit Question', edit_question_path(@question) %> |
  <%= link_to 'Delete Question', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<p>Asked by: <%= @question.user.username %></p>
<p>Description: <%= @question.description %></p>
<% if @answer.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @can_answer %>
  <%= render 'answers/form', question: @question, answer: @answer %>
<% end %>
<% if @answers.any? %>
  <h2>Answers:</h2>
  <ul>
    <% @answers.each do |answer| %>
      <li><%= answer.description %>
        <% if answer.best_answer == true %>
          | Best Answer
        <% elsif @edit %>
          | <%= link_to 'Mark as Best', question_answer_path(@question, answer), method: :patch %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Home", questions_path %>
